@import 'variables';
@import 'fonts';

.article {
    background-color: $maincolor;
    border-bottom: $text_color solid 1px;
    max-width: 1300px;
    padding: 1rem;
    
    img {
        display: block;
        margin-left: 50%;
        transform: translate(-50%);

    }
    
    @include md {
        display: flex;
        margin: 5rem auto;
        border-radius: .5rem;
        justify-content: space-between;

    } 
}

.article_titre{
    font-weight: bold;
    color: $secondary_color;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
} 

.div_content {
    
    @include md {
        width: 50%;

    }
}
.article_content {
    color: $secondary_color;
    padding-bottom: 2rem;
    border-bottom: solid white 1px;


    @include md {
        border-bottom: none;
        border-right: solid white 1px;
    }
}

.div_img {
    @include md {
        display: flex;
        align-items: center;
    }

}

.article_img {
    margin: 1rem;
    max-width: 80%;
    border-radius: .5rem;

}

.commentaires {
    margin: 3rem auto;
    padding: 1rem;
    max-width: 1300px;

    h2 {
        color: $third_color;
        text-align: center;
        font-family: $font-title;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .nouveau_commentaire {
        max-width: 800px;
        margin: 0 auto 5rem auto;
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.76);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .input_form {
            padding: 0.5rem 1.5rem 0.5rem 0.5rem;
            border-radius: 5px;
        }

        label {
            color: $text_color;
            cursor: text;
            pointer-events: none;
        }

        textarea {
            padding: 0.5rem 1.5rem 0.5rem 0.5rem;
            border-radius: 5px;
            resize: none;

        }

        .submit {
            text-align: center;
            width: fit-content;
            margin: auto;
            padding: 0.5rem 2.5rem;
            border: none;
            width: 100%;
            background-color: #294345;
            color: #fff;
            cursor: pointer;
            transition: all 120ms ease-in;
            border-radius: 5px;
    
            &:hover {
              background-color: #417579;
              transform: scale(1.015);
            }
      
        }
    }

    .comments {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .commentaire {
            border-bottom: solid;
            color: $text_color;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                font-weight: bold;
            }

            span {
                font-size: small;
                text-align: right;
            }

            a {
                color: $third_color;
            }


        }
    }
}