@import 'variables';
@import 'fonts';

.body_categories {
    background-image: url("../images/background_2.jpg");
}


.lien_categories {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $secondary_color;
    justify-content: space-around;
    align-items: center;
    font-family: $font-title;

    

    .lien_categorie {
        padding: 1rem;
        font-size: 6rem;
    }

    .lien_categorie:hover {
        color: $third_color;
        transform: scale(110%);
    }

}
